---
import { getCollection } from 'astro:content'
import PostExcerpt, { PropHeadings, PropRenderer } from "@igor.dvlpr/astro-post-excerpt";

const postsV1 = await Astro.glob('../content/blog/*.md')
const postsAfterV2 = await getCollection('blog')
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
		<link href="/favicon.svg" type="shortcut">
  </head>
  <body>
		<div style="display: inline-block; width: 49%; padding: 0; margin: 0;">
		<h2>V1</h2>
		{postsV1.map((post) =>
			<PostExcerpt post={post} words={14} smartEllipsis={true} headings={PropHeadings.None} addEllipsis={true} renderer={PropRenderer.Hybrid} />
			<br>
			<br>
			)}
			</div>
			<div style="display: inline-block; width: 49%; padding: 0; margin: 0;">
		<h2>V2 &amp; V3</h2>
    {postsAfterV2.map((post) =>
			<PostExcerpt post={post} words={14} smartEllipsis={true} headings={PropHeadings.None} addEllipsis={true} renderer={PropRenderer.Hybrid} />
		<br>
		<br>
		)}
		</div>
  </body>
</html>
