---
import { getCollection } from 'astro:content'
import PostExcerpt, { PropHeadings, PropRenderer } from "@igor.dvlpr/astro-post-excerpt";

const posts = await Astro.glob('../content/blog/*.md')
const postsV2 = await getCollection('blog')
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
		<div style="display: inline-block; width: 49%; padding: 0; margin: 0;">
		<h2>V1</h2>
		{posts.map((post) =>
			<PostExcerpt post={post} words={14} smartEllipsis={true} headings={PropHeadings.None} addEllipsis={true} renderer={PropRenderer.Hybrid} />
			<br>
			<br>
			)}
			</div>
			<div style="display: inline-block; width: 49%; padding: 0; margin: 0;">
		<h2>V2</h2>
    {postsV2.map((post) =>
			<PostExcerpt post={post} addEllipsis={true} words={14} smartEllipsis={false} headings={PropHeadings.None} renderer={PropRenderer.Hybrid} />
		<br>
		<br>
		)}
		</div>
  </body>
</html>
